@media (max-width: 575.98px) {
  .g-1, .g-2, .g-3, .g-4, .g-5, .gx-1, .gx-2, .gx-3, .gx-4, .gx-5{
    --bs-gutter-x: 1.5rem;
  }
  .main-header {
    margin-top: 132px;
  }
  .main-header .header-main-wrapper .top-header {
    padding-top: 24px;
  }
  .main-header .header-main-wrapper .second-header {
    border-bottom: 1px solid #f1f2f4;
  }
  .main-header .wrapper-cart span {
    display: none;
  }
  .main-header .dropdown-profile .dropdown-triger span {
    display: none;
  }
  .main-header .dropdown-profile .dropdown-triger .icon-dropdown {
    width: 26px;
    height: 26px;
  }
  .main-header .dropdown-profile .dropdown-triger {
    padding: 8px 18px 8px 14px;
  }
  .main-header .dropdown-profile {
    margin-left: 0;
  }
  .main-header .wrapper-cart {
    margin-right: 0;
  }
  .main-header .wrapper-cart::after {
    right: 0;
  }
  .main-header .dropdown-profile .dropdown-content-profile {
    right: 0;
    left: auto;
  }
  .main-header .header-main-wrapper .second-header .header-title {
    font-size: 22px;
  }
  .second-header .wrapper-search.active {
    position: absolute;
    left: 12px;
    right: 61px;
    top: 9px;
  }
  .second-header .wrapper-search:hover {
    position: absolute;
    left: 12px;
    right: 61px;
    top: 9px;
  }
  .second-header .wrapper-search .input-search {
    transition: none;
  }
  .second-header .wrapper-search:hover > .input-search {
    width: 100%;
  }
  .second-header .wrapper-search.active > .input-search {
    width: 100%;
  }
  .main-header .second-header .dropdown-main .dropdown-content-main {
    border-radius: 0;
  }
  .main-header .second-header .dropdown-main .dropdown-content-main .left {
    width: 100%;
    padding: 22px 16px;
  }
  .main-header
    .second-header
    .dropdown-main
    .dropdown-content-main
    .left
    .list-menu
    .link-menu {
    color: #141a2b;
  }
  .main-header .second-header .dropdown-content-main .right {
    width: calc(100% - 32px);
    padding: 22px 18px;
    margin: 0px 16px 18px 16px;
    border-radius: 12px;
  }
  .main-header .second-header .dropdown-main .dropdown-wrapper-content-main {
    max-height: calc(100vh - 134px);
    overflow-x: hidden;
    padding-top: 0;
    top: calc(100% + 1px) !important;
    margin: 0 !important;
    transform: none !important;
    border: none;
    border-radius: 0;
  }
  .main-header .second-header .dropdown-content-main .right .right-wrapper {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper:nth-child(1) {
    display: block;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper-cart::after {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .button-checkout-sm {
    display: block;
    max-width: 90%;
    margin: 18px auto 0px auto;
  }
  .second-header .dropdown-content-main .left .left-mobile-item {
    display: block;
  }
  .second-header .dropdown-content-main .left .left-item {
    display: none;
  }
  section.banner.banner-home .carousel .carousel-caption {
    top: 28px;
  }
  section.banner.banner-home .carousel .carousel-caption .banner-desc {
    max-width: 290px;
  }
  section.product .navigation-category {
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1020;
    bottom: 18px;
    background-color: #ffffff;
    border-radius: 24px;
    width: 96%;
    margin: auto;
    padding: 0;
    justify-content: center;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(147, 156, 179, 0.2);
    border-radius: 24px;
  }
  section.product .navigation-category .nav-link {
    padding: 16px 8px;
  }
  section.product .tab-content-item {
    padding-bottom: 0;
  }
  section.menu-bottom .link-bottom {
    padding: 0;
    margin: 12px;
    width: 100%;
    text-align: center;
  }
  section.menu-bottom {
    padding: 12px 0px;
  }
  footer {
    padding-bottom: 100px;
  }
  footer .col-md-12,
  footer .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .col-md-6 {
    order: 1;
  }
  footer .footer-nine-address {
    text-align: center;
    margin-bottom: 28px;
  }
  footer .list-social-link li:nth-last-of-type(1) .item-social-link {
    margin-right: 0;
  }
  footer .list-menu-footer li {
    padding: 0px 14px;
  }
  footer .list-menu-footer li:nth-child(1) {
    padding-left: 0;
  }
  footer .list-menu-footer li:nth-last-of-type(1) {
    padding-right: 0;
  }
  footer .list-menu-footer {
    margin-bottom: 28px;
  }
  footer .list-social-link .item-social-link {
    font-size: 32px;
  }
  footer .footer-link-website {
    margin-bottom: 32px;
  }
  footer .list-social-link {
    margin-bottom: 20px;
  }
  footer .copy-right {
    font-size: 12px;
  }

  section.product-list {
    padding: 18px 0px 48px 0px;
  }
  section.product-list .pl-parent-filter {
    display: none;
  }
  section.product-list .pl-wrapper-product-sort .d-flex {
    display: none !important;
  }
  section.product-list .pl-parent-product .tab-content .row.gx-3 {
    --bs-gutter-x: 0.5rem;
  }
  section.product-list .pl-parent-product .tab-content .row.gy-4 {
    --bs-gutter-y: 0.5rem;
  }
  section.product-list .pl-parent-product .tab-content .col-md-3 {
    width: 50%;
  }
  section.product-list .pl-parent-product .pl-header-product {
    margin-bottom: 32px;
  }
  section.product-list .pl-wrapper-mobile-filter {
    display: flex;
  }

  section.product-detail {
    padding-top: 28px;
  }
  section.product-detail .pd-wrapper-img #secondary-slider {
    display: none;
  }
  section.product-detail .pd-wrapper-short-desc .pd-title-product {
    order: 1;
  }
  section.product-detail .pd-wrapper-short-desc .pd-title-category {
    order: 2;
    margin-bottom: 32px;
  }
  section.product-detail .pd-wrapper-short-desc .pd-wrapper-button-compare {
    order: 3;
    margin: auto;
    width: 68%;
    margin-bottom: 32px;
  }
  section.product-detail
    .pd-wrapper-short-desc
    .pd-wrapper-button-compare
    .pd-button-compare {
    width: 100%;
  }
  section.product-detail .pd-wrapper-transaction{
    margin-bottom: 10px;
  }
  section.product-detail .pd-wrapper-transaction .pd-transaction-right {
    display: none;
  }
  section.product-detail .pd-wrapper-transaction .pd-wrapper-button-group-transaction{
    display: none;
  }
  section.product-detail .pd-wrapper-transaction .pd-mobile-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1020;
    bottom: 18px;
    background-color: #ffffff;
    border-radius: 24px;
    width: 96%;
    margin: auto;
    padding: 12px 20px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(147, 156, 179, 0.2);
    border-radius: 24px;
  }
  section.product-available .col{
    flex: 0 0 50%;
    display: none;
  }
  section.product-available .col:nth-child(-n+2){
    display: block;
  }
  section.compare-product .col-md-4{
    width: 50%;
  }
  section.compare-product .wp-compare-xl{
    display: none;
  }
  section.compare-product .wp-compare-xs{
    display: block;
  }
  section.compare-product .cp-wrapper-specification p{
    padding-left: 0;
  }
  section.compare-product .wp-compare-xs .header-detail-xs{
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 12px;
    padding: 10px 20px;
    background-color: rgba(241, 242, 244, 0.5);
  }
  section.compare-product .cp-wrapper-product .cp-product-img{
    height: 128px;
  }
  section.compare-product .cp-wrapper-product .cp-title-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.compare-product .cp-wrapper-product .cp-title-category span{
    margin-left: 0;
  }
  section.compare-product .cp-wrapper-product .cp-title-category span::after {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 10px
  }
  section.compare-product .cp-wrapper-product .cp-title-value-sub-total{
   flex-wrap: wrap;
  }
  section.compare-product .cp-wrapper-product .cp-title-value-sub-total span{
    margin-left: 0;
    margin-top: 8px;
  }
  section.compare-product .cp-wrapper-product {
    min-height: auto;
  }
  section.compare-product .cp-wrapper-button button{
    margin-bottom: 8px;
  }
  section.compare-product .cp-wrapper-product .cp-title-product{
    font-size: 20px;
  }
  section.compare-product .cp-wrapper-product .cp-product-tag{
    margin-bottom: 6px;
  }
  .main-header .header-main-wrapper .top-header .dropdown-cart{
    position: unset;
  }
  .main-header .top-header .dropdown-content-cart .right{
    width: 100%;
  }
  .main-header .top-header .dropdown-content-cart{
    width: calc(100% - 10px);
    left: 50% !important;
    transform: translate3d(-50%, 67px, 0px) !important;
  }
  section.contact{
    padding-top: 34px;
    padding-bottom: 68px;
  }
  section.contact .wrapper-contact-right{
    margin-top: 0;
    margin-bottom: 84px;
    padding: 32px 28px;
    border-radius: 24px;
  }
  section.banner-contact {
    min-height: 262px;
    padding-top: 84px;
    background-position: 75%;
  }
  section.contact .wrapper-contact-left {
    padding: 0px 15px;
  }
  section.contact .wrapper-contact-right .title {
    font-size: 38px;
    line-height: 48px;
  }
  section.banner-contact .title {
    font-size: 28px;
  }
  section.banner-contact .title span {
    font-size: 38px;
    line-height: 42px;
    display: block;
  }
  section.contact .container .wp-max .row{
    flex-direction: column-reverse;
  }
  section.privacy .menu-privacy{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: none;
    border: none;
    margin-top: 0;
  }
  section.privacy .menu-privacy .nav-item{
    margin: 6px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
  }
  section.privacy .menu-privacy .nav-item .nav-link{
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    border: none;
  }
  .main-header .top-header .dropdown-content-cart .right .wrapper-table {
    padding-right: 24px;
    padding-left: 14px;
  }
  .main-header .top-header .dropdown-content-cart .right .row {
    padding-left: 16px;
    padding-right: 34px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-header {
    margin-top: 132px;
  }
  .main-header .header-main-wrapper .top-header {
    padding-top: 24px;
  }
  .main-header .header-main-wrapper .second-header {
    border-bottom: 1px solid #f1f2f4;
  }
  .main-header .wrapper-cart span {
    display: none;
  }
  .main-header .dropdown-profile .dropdown-triger span {
    display: none;
  }
  .main-header .dropdown-profile .dropdown-triger .icon-dropdown {
    width: 26px;
    height: 26px;
  }
  .main-header .dropdown-profile .dropdown-triger {
    padding: 8px 18px 8px 14px;
  }
  .main-header .dropdown-profile {
    margin-left: 0;
  }
  .main-header .wrapper-cart {
    margin-right: 0;
  }
  .main-header .wrapper-cart::after {
    right: 0;
  }
  .main-header .dropdown-profile .dropdown-content-profile {
    right: 0;
    left: auto;
  }
  .main-header .header-main-wrapper .second-header .header-title {
    font-size: 22px;
  }
  .second-header .wrapper-search:hover > .input-search {
    width: 258px;
  }
  .second-header .wrapper-search.active > .input-search {
    width: 258px;
  }

  .main-header .second-header .dropdown-main .dropdown-content-main {
    border-radius: 0;
  }
  .main-header .second-header .dropdown-main .dropdown-content-main .left {
    width: 100%;
    padding: 22px 16px;
  }
  .main-header
    .second-header
    .dropdown-main
    .dropdown-content-main
    .left
    .list-menu
    .link-menu {
    color: #141a2b;
  }
  .main-header .second-header .dropdown-content-main .right {
    width: calc(100% - 32px);
    padding: 22px 18px;
    margin: 0px 16px 18px 16px;
    border-radius: 12px;
  }
  .main-header .second-header .dropdown-main .dropdown-wrapper-content-main {
    max-height: calc(100vh - 134px);
    overflow-x: hidden;
    padding-top: 0;
    top: calc(100% + 1px);
  }
  .main-header .second-header .dropdown-content-main .right .right-wrapper {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper:nth-child(1) {
    display: block;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper-cart::after {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .button-checkout-sm {
    display: block;
    max-width: 90%;
    margin: 18px auto 0px auto;
  }
  .second-header .dropdown-content-main .left .left-mobile-item {
    display: block;
  }
  .second-header .dropdown-content-main .left .left-item {
    display: none;
  }
  section.banner.banner-home .carousel .carousel-caption .banner-desc {
    max-width: 290px;
  }
  section.rs-company .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section.rs-company .row .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  section.product .navigation-category {
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1020;
    bottom: 18px;
    background-color: #ffffff;
    border-radius: 24px;
    width: max-content;
    margin: auto;
    padding: 0px 18px;
    justify-content: center;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(147, 156, 179, 0.2);
    border-radius: 24px;
  }
  section.product .navigation-category .nav-link {
    padding: 16px;
  }
  section.product .tab-content-item .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section.product .tab-content-item .row .col-md-3 {
    width: 50%;
  }
  section.product .tab-content-item .col-md-3:nth-child(2n)::after {
    display: none;
  }
  section.menu-bottom .link-bottom {
    margin: 12px;
    width: auto;
    text-align: center;
  }
  section.menu-bottom {
    padding: 12px 0px;
  }
  footer {
    padding-bottom: 100px;
  }
  footer .col-md-12,
  footer .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .col-md-6 {
    order: 1;
  }
  footer .footer-nine-address {
    text-align: center;
    margin-bottom: 28px;
  }
  footer .list-social-link li:nth-last-of-type(1) .item-social-link {
    margin-right: 0;
  }
  footer .list-menu-footer li {
    padding: 0px 14px;
  }
  footer .list-menu-footer li:nth-child(1) {
    padding-left: 0;
  }
  footer .list-menu-footer li:nth-last-of-type(1) {
    padding-right: 0;
  }
  footer .list-menu-footer {
    margin-bottom: 28px;
  }
  footer .list-social-link .item-social-link {
    font-size: 32px;
  }
  footer .footer-link-website {
    margin-bottom: 32px;
  }
  footer .list-social-link {
    margin-bottom: 20px;
  }
  footer .copy-right {
    font-size: 12px;
  }
  section.product-list .pl-parent-product .tab-content .col-md-3 {
    width: 50%;
  }
  section.product-list .pl-parent-filter {
    display: none;
  }
  section.product-list .pl-wrapper-mobile-filter {
    display: flex;
  }
  section.product-list .pl-wrapper-product-sort .d-flex {
    display: none !important;
  }
  section.product-list .pl-wrapper-mobile-filter {
    width: 60%;
  }
  section.product-list {
    padding: 18px 0px 48px 0px;
  }

  
  section.product-detail {
    padding-top: 28px;
  }
  section.product-detail .pd-wrapper-img #secondary-slider {
    display: none;
  }
  section.product-detail .pd-wrapper-short-desc .pd-title-product {
    order: 1;
  }
  section.product-detail .pd-wrapper-short-desc .pd-title-category {
    order: 2;
    margin-bottom: 32px;
  }
  section.product-detail .pd-wrapper-short-desc .pd-wrapper-button-compare {
    order: 3;
    margin: auto;
    width: 68%;
    margin-bottom: 32px;
  }
  section.product-detail
    .pd-wrapper-short-desc
    .pd-wrapper-button-compare
    .pd-button-compare {
    width: 100%;
  }
  section.product-detail .pd-wrapper-transaction{
    margin-bottom: 10px;
  }
  section.product-detail .pd-wrapper-transaction .pd-transaction-right {
    display: none;
  }
  section.product-detail .pd-wrapper-transaction .pd-wrapper-button-group-transaction{
    display: none;
  }
  section.product-detail .pd-wrapper-transaction .pd-mobile-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1020;
    bottom: 18px;
    background-color: #ffffff;
    border-radius: 24px;
    width: 66%;
    margin: auto;
    padding: 12px 20px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(147, 156, 179, 0.2);
    border-radius: 24px;
  }
  section.product-available .col{
    flex: 0 0 50%;
    display: none;
  }
  section.product-available .col:nth-child(-n+2){
    display: block;
  }
  section.contact{
    padding-top: 34px;
    padding-bottom: 68px;
  }
  section.contact .wrapper-contact-right{
    margin-top: 0;
    margin-bottom: 84px;
    padding: 64px 48px;
    border-radius: 24px;
  }
  section.banner-contact {
    min-height: 262px;
    padding-top: 84px;
    background-position: 75%;
  }
  section.contact .wrapper-contact-left {
    padding: 0px 15px;
  }
  section.contact .wrapper-contact-right .title {
    font-size: 38px;
    line-height: 48px;
  }
  section.banner-contact .title {
    font-size: 28px;
  }
  section.banner-contact .title span {
    font-size: 38px;
    line-height: 42px;
    display: block;
  }
  section.contact .container .wp-max .row{
    flex-direction: column-reverse;
  }
  section.privacy .menu-privacy{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: none;
    border: none;
    margin-top: 0;
  }
  section.privacy .menu-privacy .nav-item{
    margin: 6px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
  }
  section.privacy .menu-privacy .nav-item .nav-link{
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    border: none;
  }
  
  section.compare-product .wp-compare-xl{
    display: none;
  }
  section.compare-product .wp-compare-xs{
    display: block;
  }
  section.compare-product .cp-wrapper-button button {
    margin-bottom: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-header .second-header .dropdown-main .dropdown-content-main {
    border-radius: 0;
  }
  .main-header .second-header .dropdown-main .dropdown-content-main .left {
    width: 100%;
    padding: 22px 16px;
  }
  .main-header
    .second-header
    .dropdown-main
    .dropdown-content-main
    .left
    .list-menu
    .link-menu {
    color: #141a2b;
  }
  .main-header .second-header .dropdown-content-main .right {
    width: calc(100% - 32px);
    padding: 22px 18px;
    margin: 0px 16px 18px 16px;
    border-radius: 12px;
  }
  .main-header .second-header .dropdown-main .dropdown-wrapper-content-main {
    max-height: calc(100vh - 134px);
    overflow-x: hidden;
    padding-top: 0;
    top: calc(100% + 1px);
    max-width: 720px;
  }
  .main-header
    .second-header
    .dropdown-main
    .dropdown-content-main
    .left
    .left-item {
    min-width: 50%;
  }
  .main-header .second-header .dropdown-content-main .right .right-wrapper {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper:nth-child(1) {
    display: block;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper-cart::after {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .button-checkout-sm {
    display: block;
    max-width: 90%;
    margin: 18px auto 0px auto;
  }
  section.product .tab-content-item .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section.product .tab-content-item .row .col-md-3 {
    width: 33.3%;
  }
  section.product .tab-content-item .col-md-3:nth-child(3n)::after {
    display: none;
  }
  section.product .tab-content-item .col-md-3:nth-child(4n)::after {
    display: block;
  }
  section.product .tab-content-item {
    padding-bottom: 0;
  }
  footer .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .col-md-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  footer .list-social-link li:nth-last-of-type(1) .item-social-link {
    margin-right: 0;
  }
  footer .list-social-link {
    justify-content: center;
  }
  footer .col-md-3 {
    order: 2;
    text-align: center;
    margin-bottom: 18px;
  }
  footer .col-md-3:nth-child(2) {
    order: 1;
    width: 100%;
    margin-bottom: 28px;
    text-align: center;
  }
  footer .col-md-6 {
    width: 100%;
    order: 3;
  }
  footer .footer-nine-address {
    text-align: center;
    max-width: 100%;
  }
  section.product-list .col-md-3:nth-child(1) {
    width: 33%;
  }
  section.product-list .col-md-9 {
    width: 67%;
  }
  section.product-list .pl-parent-product .tab-content .col-md-3 {
    width: 33.3%;
  }
  section.product-list .pl-wrapper-product-sort .pl-title-sort {
    display: none;
  }

  section.product-detail .col-md-6{
    width: 100%;
  }
  section.product-detail .pd-wrapper-img{
    margin-bottom: 32px;
  }
  section.product-detail .pd-wrapper-transaction .pd-transaction-left {
    flex: 1.4 0 0%;
}
  section.product-detail .pd-wrapper-transaction .pd-wrapper-button-group-transaction{
    flex: 1 0 100%;
  }
  section.product-available .col{
    flex: 0 0 25%;
    display: none;
  }
  section.product-available .col:nth-child(-n+4){
    display: block;
  }
  
  section.contact .wrapper-contact-right .title {
    font-size: 38px;
  }
  section.compare-product .wp-compare-xl .row .col-md-4{
    width: 50%;
  }
  section.compare-product .wp-compare-xl .row .col-md-4:nth-last-of-type(1){
    display: none;
  }
  section.compare-product .cp-wrapper-button button {
    margin-bottom: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-header .second-header .dropdown-main .dropdown-wrapper-content-main {
    max-width: 946px;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .right-wrapper:nth-last-of-type(1) {
    display: none;
  }
  .main-header
    .second-header
    .dropdown-content-main
    .right
    .button-checkout-sm {
    display: block;
    max-width: 90%;
    margin: 18px auto 0px auto;
  }
  section.product-detail .pd-wrapper-transaction .pd-transaction-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 100%;
    margin-bottom: 18px;
}
section.product-detail .pd-wrapper-transaction .pd-transaction-right {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.product-detail .pd-wrapper-transaction .pd-wrapper-button-group-transaction{
  justify-content: center;
}
}

@media (min-width: 576px) {
  .nine-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .nine-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .nine-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .nine-container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .nine-container {
    max-width: 1320px;
  }
}

/* @media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
} */
